<!DOCTYPE html>
<html lang="pt-Br">
  <head>
    <%- incluide('../partials/head')%>
  </head>
  <body>
    <main>
      <ul>
        
     <!--    <% users.forEach((user)) => { %>
        <li><%= user.name %></li>
        <% }); %> -->

        <li>teste</li>
      </ul>
    </main>

    <%- incluide('../partials/footer')%>
  </body>
</html>
